torch==2.1.2
torchvision==0.16.2
transformers==2.1.2
timm
opencv-python
scipy
scikit-learn
scikit-image
pytorch-lightning
albumentations
torch-optimizer
tqdm
pandas
omegaconf
einops
ml-collections
ftfy
